<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("message:messagetemplate:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("message:messagetemplate:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
		<!--	<#if shiro.hasPermission("message:messagetemplate:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">模板标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.titile" placeholder="模板标题（用于管理员识别）"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">消息头部描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.first" placeholder="消息头部描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关键字1</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.keyword1" placeholder="关键字1"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关键字2</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.keyword2" placeholder="关键字2"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关键字3</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.keyword3" placeholder="关键字3"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关键字4</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.keyword4" placeholder="关键字4"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关键字5</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.keyword5" placeholder="关键字5"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">消息底部描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.remark" placeholder="消息底部描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">微信模板id</div>
                        <div class="col-sm-10">
                            <input type="text" v-if="messageTemplate.id!=null && messageTemplate.templateId!=null" class="form-control" v-model="messageTemplate.templateId" placeholder="微信模板id" readonly/>
                            <input type="text" v-if="messageTemplate.id==null || messageTemplate.templateId==null" class="form-control" v-model="messageTemplate.templateId" placeholder="微信模板id" />
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">点击模板跳转地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.visitUrl" placeholder="点击模板跳转地址"/>
                        </div>
                    </div>

					<div class="form-group">
                        <div class="col-sm-2 control-label">消息发送处理器</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.dealZclass" placeholder="消息发送处理器（根据业务需求填写）"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">模板Code</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="messageTemplate.templateCode" placeholder="模板唯一Code"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" v-model="messageTemplate.status" name="optionsRadios" id="optionsRadios1" value="0" checked>停用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" v-model="messageTemplate.status" name="optionsRadios" id="optionsRadios2" value="1">启用
                            </label>
                        </div>
                    </div>


			<div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/message/messagetemplate.js?_${.now?long}"></script>
</body>
</html>